<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_Name" value="cornel_backend"/>

    <contextName>${APP_Name}</contextName>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} QTraceId[%X{qtraceid}] %thread ${LOG_LEVEL_PATTERN:-%5p} %c:%L %m%n</pattern>
        </encoder>
    </appender>

    <!-- smtp报警设置 -->
    <appender name="email" class="com.qunar.vc.log.logback.CustomSMTPAppender">
        <smtpHost>mta3.corp.qunar.com</smtpHost>

        <from>fh-product-service-beta@qunar.com</from>

        <to>dj_local.alert@qunar.com</to>
        <layout class="com.qunar.vc.log.logback.HTMLWrapperLayout">
            <pattern>%date%level%logger%line%message</pattern>
        </layout>

        <filter class="com.qunar.vc.log.logback.ThresholdAndLoggerNameFilter">
            <level>ERROR</level>
            <loggerPrefix>com.qunar.zkclient,org.apache.velocity,org.apache.curator.ConnectionState</loggerPrefix>
        </filter>
    </appender>
    
    <appender name="python_confirm_data"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
          <file>${catalina.base}/logs/python/python_confirm_data.log</file>
          <prudent>false</prudent>
          <Append>true</Append>
          <encoder>
              <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c{1}:%L - %m%n</pattern>
              <charset>UTF-8</charset>
          </encoder>
          <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
              <fileNamePattern>${catalina.base}/logs/python/python_confirm_data.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
          </rollingPolicy>
    </appender>
    
    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>

</configuration>