<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demai.cornel.purcharse.dao.BuyerInfoMapper">
    <resultMap id="BaseResultMap" type="com.demai.cornel.purcharse.model.BuyerInfo">
        <!--@mbg.generated-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="id_type" jdbcType="SMALLINT" property="idType"/>
        <result column="mobile" property="mobile" jdbcType="ARRAY" javaType="java.util.Set"
                typeHandler="com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler"/>
        <result column="company_id" jdbcType="VARCHAR" property="companyId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="frequently_location"  property="frequentlyLocation" jdbcType="ARRAY" javaType="java.util.Set"
                typeHandler="com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="default_location" jdbcType="VARCHAR" property="defaultLocation"/>

    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, user_name, id_card, id_type, mobile, company_id, create_time, update_time,
        frequently_location, "status",default_location
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from buyer_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from buyer_info
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.demai.cornel.purcharse.model.BuyerInfo">
        <!--@mbg.generated-->
        insert into buyer_info (id, user_id, user_name,
        id_card, id_type, mobile,
        company_id, create_time, update_time,
        frequently_location, "status",default_location)
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},
        #{idCard,jdbcType=VARCHAR}, #{idType,jdbcType=SMALLINT}, #{mobile,jdbcType=ARRAY,javaType=java.util.Set, typeHandler = com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler},
        #{companyId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
        #{frequentlyLocation,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},#{defaultLocation,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.demai.cornel.purcharse.model.BuyerInfo">
        <!--@mbg.generated-->
        insert into buyer_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="idCard != null">
                id_card,
            </if>
            <if test="idType != null">
                id_type,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="frequentlyLocation != null">
                frequently_location,
            </if>
            <if test="status != null">
                "status",
            </if>
            <if test="defaultLocation!= null">
                default_location,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="idType != null">
                #{idType,jdbcType=SMALLINT},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=ARRAY,javaType=java.util.Set, typeHandler = com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="frequentlyLocation != null">
                #{frequentlyLocation,jdbcType=ARRAY,javaType=java.util.Set, typeHandler = com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="defaultLocation != null">
                #{defaultLocation,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.demai.cornel.purcharse.model.BuyerInfo">
        <!--@mbg.generated-->
        update buyer_info
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                id_card = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="idType != null">
                id_type = #{idType,jdbcType=SMALLINT},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=ARRAY,javaType=java.util.Set, typeHandler = com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler},
            </if>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="frequentlyLocation != null">
                frequently_location = #{frequentlyLocation,jdbcType=ARRAY,javaType=java.util.Set, typeHandler = com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler},
            </if>
            <if test="status != null">
                "status" = #{status,jdbcType=INTEGER},
            </if>
            <if test="defaultLocation != null">
                default_location = #{defaultLocation,jdbcType=INTEGER},
            </if>
        </set>
        where user_id = #{userId}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.demai.cornel.purcharse.model.BuyerInfo">
        <!--@mbg.generated-->
        update buyer_info
        set user_id = #{userId,jdbcType=VARCHAR},
        user_name = #{userName,jdbcType=VARCHAR},
        id_card = #{idCard,jdbcType=VARCHAR},
        id_type = #{idType,jdbcType=SMALLINT},
        mobile = #{mobile,jdbcType=ARRAY,javaType=java.util.Set, typeHandler = com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler},
        company_id = #{companyId,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        frequently_location = #{frequentlyLocation,jdbcType=ARRAY,javaType=java.util.Set, typeHandler = com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler},
        "status" = #{status,jdbcType=INTEGER},
        default_location = #{defaultLocation,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from buyer_info where user_id=#{userId} and status=1;
    </select>
    <update id="updateFrequentlyLocation">
        update buyer_info
        <set>
        <if test="defaultLocation != null and defaultLocation != ''">
            default_location=#{defaultLocation,jdbcType=VARCHAR} ,
        </if>
         <if test="frequentlyLocation != null and frequentlyLocation.size() != 0">
             frequently_location=#{frequentlyLocation,jdbcType=ARRAY,javaType=java.util.Set, typeHandler = com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler},
         </if>
        </set>
        where user_id = #{userId}
    </update>
    <update id="updateDefaultLocation">
      update buyer_info set default_location=#{defaultLocation,jdbcType=VARCHAR} where user_id=#{userId} ;
    </update>
    <select id="selectBuyInfoByPhone" resultMap="BaseResultMap">
     select <include refid="Base_Column_List"/>
     from buyer_info where   status=1 and <![CDATA[ mobile @> array[#{phone}] ]]> limit 1;
    </select>
    <select id="selectByUserIdByLogin" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from buyer_info where   status=1 and <![CDATA[ mobile @> array[#{phone}] ]]> limit 1;
    </select>


</mapper>