<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demai.cornel.purcharse.dao.CompanyInfoMapper">
  <resultMap id="BaseResultMap" type="com.demai.cornel.purcharse.model.CompanyInfo">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="contact_user" jdbcType="VARCHAR" property="contactUser" />
    <result column="contact_tel" jdbcType="VARCHAR" property="contactTel" />
    <result column="main_project" jdbcType="VARCHAR" property="mainProject" />
    <result column="main_req" jdbcType="VARCHAR" property="mainReq" />
    <result column="daily_consume" jdbcType="NUMERIC" property="dailyConsume" />
    <result column="location_id" jdbcType="VARCHAR" property="locationId" />
      <result column="user_id" jdbcType="VARCHAR" property="userId" />
      <result column="license_url" jdbcType="VARCHAR" property="licenseUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, company_id, company_name, create_time, update_time, "status", contact_user, contact_tel, 
    main_project, main_req, daily_consume, location_id,user_id, license_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from company_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <insert id="insertSelective" parameterType="com.demai.cornel.purcharse.model.CompanyInfo">
    <!--@mbg.generated-->
    insert into company_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="status != null">
        "status",
      </if>
      <if test="contactUser != null">
        contact_user,
      </if>
      <if test="contactTel != null">
        contact_tel,
      </if>
      <if test="mainProject != null">
        main_project,
      </if>
      <if test="mainReq != null">
        main_req,
      </if>
      <if test="dailyConsume != null">
        daily_consume,
      </if>
      <if test="locationId != null">
        location_id,
      </if>
      <if test="userId != null">
          user_id,
      </if>
      <if test="licenseUrl != null">
          license_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="contactUser != null">
        #{contactUser,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null">
        #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="mainProject != null">
        #{mainProject,jdbcType=VARCHAR},
      </if>
      <if test="mainReq != null">
        #{mainReq,jdbcType=VARCHAR},
      </if>
      <if test="dailyConsume != null">
        #{dailyConsume,jdbcType=NUMERIC},
      </if>
      <if test="locationId != null">
        #{locationId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
          #{userId,jdbcType=VARCHAR},
      </if>
      <if test="licenseUrl != null">
          #{licenseUrl,jdbcType=VARCHAR},
      </if>
        <if test="licenseUrl != null">
            license_url,
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demai.cornel.purcharse.model.CompanyInfo">
    <!--@mbg.generated-->
    update company_info
    <set>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        "status" = #{status,jdbcType=INTEGER},
      </if>
      <if test="contactUser != null">
        contact_user = #{contactUser,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null">
        contact_tel = #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="mainProject != null">
        main_project = #{mainProject,jdbcType=VARCHAR},
      </if>
      <if test="mainReq != null">
        main_req = #{mainReq,jdbcType=VARCHAR},
      </if>
      <if test="dailyConsume != null">
        daily_consume = #{dailyConsume,jdbcType=NUMERIC},
      </if>
      <if test="locationId != null">
        location_id = #{locationId,jdbcType=VARCHAR},
      </if>
        <if test="licenseUrl != null">
            #{licenseUrl,jdbcType=VARCHAR},
        </if>
    </set>
    where company_id = #{companyId,jdbcType=VARCHAR}
  </update>
  <select id="selectBycompanyId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from company_info
    where company_id = #{companyId,jdbcType=VARCHAR}
  </select>
</mapper>