<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demai.cornel.purcharse.dao.FreightInfoMapper">
    <resultMap id="BaseResultMap" type="com.demai.cornel.purcharse.model.FreightInfo">
        <!--@mbg.generated-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="freight_id" jdbcType="VARCHAR" property="freightId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="from_location" jdbcType="VARCHAR" property="fromLocation"/>
        <result column="to_location" jdbcType="VARCHAR" property="toLocation"/>
        <result column="transport_type" property="transportType" jdbcType="ARRAY" javaType="java.util.Set"
                typeHandler="com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler"/>
        <result column="price" jdbcType="NUMERIC" property="price"/>
        <result column="cost_time" jdbcType="INTEGER" property="costTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="ex_info" jdbcType="VARCHAR" property="exInfo"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="review_user" jdbcType="VARCHAR" property="reviewUser"/>

    </resultMap>
    <resultMap id="BaseResultMap_RE" type="com.demai.cornel.demeManager.model.FreightWithToLocation">
        <!--@mbg.generated-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="freight_id" jdbcType="VARCHAR" property="freightId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="from_location" jdbcType="VARCHAR" property="fromLocation"/>
        <result column="to_location" jdbcType="VARCHAR" property="toLocation"/>
        <result column="transport_type" property="transportType" jdbcType="ARRAY" javaType="java.util.Set"
                typeHandler="com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler"/>
        <result column="price" jdbcType="NUMERIC" property="price"/>
        <result column="cost_time" jdbcType="INTEGER" property="costTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="ex_info" jdbcType="VARCHAR" property="exInfo"/>
        <result column="to_location_tx" jdbcType="VARCHAR" property="toLocationTx"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.lang.String"
                typeHandler="com.demai.cornel.databaseHandler.JodaDatetimeHandler"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, freight_id, create_time, from_location, to_location, transport_type, price, cost_time,
        "status",ex_info,update_time,review_user
    </sql>

    <sql id="Base_Column_List_re">
        <!--@mbg.generated-->
        f.id, f.freight_id, f.create_time, f.from_location, f.to_location, f.transport_type, f.price, f.cost_time,
        f.status,f.ex_info,l.location as to_location_tx,f.update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from freight_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from freight_info
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.demai.cornel.purcharse.model.FreightInfo">
        <!--@mbg.generated-->
        insert into freight_info (id, freight_id, create_time,
        from_location, to_location, transport_type,
        price, cost_time, "status"
        )
        values (#{id,jdbcType=INTEGER}, #{freightId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{fromLocation,jdbcType=VARCHAR}, #{toLocation,jdbcType=VARCHAR}, #{transportType,jdbcType=VARCHAR},
        #{price,jdbcType=NUMERIC}, #{costTime,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.demai.cornel.purcharse.model.FreightInfo">
        <!--@mbg.generated-->
        insert into freight_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="freightId != null">
                freight_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="fromLocation != null">
                from_location,
            </if>
            <if test="toLocation != null">
                to_location,
            </if>
            <if test="transportType != null">
                transport_type,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="costTime != null">
                cost_time,
            </if>
            <if test="status != null">
                "status",
            </if>
            <if test="exInfo != null">
                ex_info,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="reviewUser != null">
                review_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="freightId != null">
                #{freightId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fromLocation != null">
                #{fromLocation,jdbcType=VARCHAR},
            </if>
            <if test="toLocation != null">
                #{toLocation,jdbcType=VARCHAR},
            </if>
            <if test="transportType != null">
                #{transportType,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=NUMERIC},
            </if>
            <if test="costTime != null">
                #{costTime,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="exInfo != null">
                #{exInfo},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP}  ,
            </if>
            <if test="reviewUser != null">
                #{reviewUser,jdbcType=VARCHAR} ,
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.demai.cornel.purcharse.model.FreightInfo">
        <!--@mbg.generated-->
        update freight_info
        <set>
            <if test="freightId != null">
                freight_id = #{freightId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fromLocation != null">
                from_location = #{fromLocation,jdbcType=VARCHAR},
            </if>
            <if test="toLocation != null">
                to_location = #{toLocation,jdbcType=VARCHAR},
            </if>
            <if test="transportType != null">
                transport_type = #{transportType,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=NUMERIC},
            </if>
            <if test="costTime != null">
                cost_time = #{costTime,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                "status" = #{status,jdbcType=INTEGER},
            </if>
            <if test="exInfo != null">
                ex_info= #{exInfo},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.demai.cornel.purcharse.model.FreightInfo">
        <!--@mbg.generated-->
        update freight_info
        set freight_id = #{freightId,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        from_location = #{fromLocation,jdbcType=VARCHAR},
        to_location = #{toLocation,jdbcType=VARCHAR},
        transport_type = #{transportType,jdbcType=VARCHAR},
        price = #{price,jdbcType=NUMERIC},
        cost_time = #{costTime,jdbcType=INTEGER},
        "status" = #{status,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectMinPriceRoute" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from freight_info where (from_location=#{from,jdbcType=VARCHAR} and to_location=#{to,jdbcType=VARCHAR})
        or (from_location=#{to,jdbcType=VARCHAR} and to_location=#{from,jdbcType=VARCHAR}) and status!=0 order by price
        limit 1;
    </select>
    <select id="selectFreights" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from freight_info where (from_location=#{from,jdbcType=VARCHAR} and to_location=#{to,jdbcType=VARCHAR})
        or (from_location=#{to,jdbcType=VARCHAR} and to_location=#{from,jdbcType=VARCHAR}) and status!=0 order by price;
    </select>
    <select id="selectByFreightId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from freight_info where freight_id=#{FreightId} ;
    </select>
    <select id="adminnGetOptFreightView" resultType="com.demai.cornel.demeManager.vo.AdminGetFreightViewResp">
      select sum(price)/count(*) as averPrice,min(price) as minPrice
       from freight_info where from_location=#{fromLocationId,jdbcType=VARCHAR} limit 1;
    </select>
    <select id="adminGetFreightWithToLocaByFromLoc" resultMap="BaseResultMap_RE">
        select
        <include refid="Base_Column_List_re"/>
        from freight_info f left join location_info l on f.to_location=l.location_id where
        from_location=#{fromLocation,jdbcType=VARCHAR} and f.status=1 order by id desc;
    </select>
    <update id="updateStatus">
     update freight_info set status=0 where freight_id=#{freightId} ;
    </update>
</mapper>