<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demai.cornel.dao.OrderInfoDao">

    <resultMap type="com.demai.cornel.model.OrderInfo" id="orderInfoResultMap">
        <id column="id" property="id"/>
        <result column="task_id" property="taskId"/>
        <result column="lorry_id" property="lorryId"/>
        <result column="user_id" property="userId"/>
        <result column="distance" property="distance"/>
        <result column="unit_distance" property="unitDistance"/>
        <result column="carry_weight" property="carryWeight"/>
        <result column="order_weight" property="orderWeight"/>
        <result column="succ_weight" property="succWeight"/>
        <result column="overweight" property="overweight"/>
        <result column="unit_weight" property="unitWeight"/>
        <result column="accept_time" property="acceptTime"/>
        <result column="start_time" property="startTime"/>
        <result column="must_finish_time" property="mustFinishTime"/>
        <result column="send_out_time" property="sendOutTime"/>
        <result column="estimate_finish_time" property="estimateFinishTime"/>
        <result column="finish_time" property="finishTime"/>
        <result column="send_out_code" property="sendOutCode"/>
        <result column="send_out_user_id" property="sendOutUserId" jdbcType="ARRAY" javaType="java.util.Set"
                typeHandler="com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler"/>
        <result column="receive_code" property="receiveCode"/>
        <result column="receiver_user_id" property="receiverUserId" jdbcType="ARRAY" javaType="java.util.Set"
                typeHandler="com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler"/>
        <result column="status" property="status"/>
        <result column="unexpect" property="unexpect"/>
        <result column="cancel_time" property="cancelTime"/>
        <result column="cancel_reason" property="cancelReason"/>
        <result column="ext_info" property="extInfo"/>
        <result column="create_time" property="createTime"/>
        <result column="operate_time" property="operateTime"/>
        <result column="receive_time" property="receiveTime"/>
        <result column="delivery_receive_time" property="deliveryReceiveTime"/>
        <result column="let_out_time" property="letOutTime"/>
    </resultMap>

    <resultMap id="listRespMapper" type="com.demai.cornel.vo.task.GetOrderListResp">
        <result column="order_id" property="orderId"/>
        <result column="task_id" property="taskId"/>
        <result column="status" property="orderStatus"/>
        <result column="order_weight" property="orderWeight"/>
        <result column="receive_code" property="verifyCode"/>
        <result column="receive_time" property="startTime"/>

        <result column="delivery_receive_time" property="deliveryReceiveTime"/>
        <result column="order_carry_weight" property="orderCarryWeight"/>
        <result column="send_out_time" property="sendOutTime"/>
        <result column="succ_weight" property="succWeight"/>

        <result column="title" property="title"/>
        <result column="dep" property="dep"/>
        <result column="arr" property="arr"/>
        <result column="start_time" property="startValidDate"/>
        <result column="end_time" property="endValidDate"/>
        <result column="unit_weight_price" property="unitWeightPrice"/>
        <result column="unit_price" property="unitPrice"/>
        <result column="unit_weight" property="unitWeight"/>
        <result column="distance" property="distance"/>
        <result column="lorry_id" property="lorryId"/>
        <result column="plate_number" property="plateNumber"/>
        <result column="carry_weight" property="carryWeight"/>
        <result column="over_carry_weight" property="overCarryWight"/>
        <result column="driver_name" property="driverName"/>
        <result column="driver_mobile" property="driverMobile" jdbcType="ARRAY" javaType="java.util.Set"
                typeHandler="com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler"/>
        <result column="delivery_receive_time" property="deliveryReceiveTime"/>
        <result column="let_out_time" property="letOutTime"/>

    </resultMap>

    <sql id="main_column">
        id,
        task_id,
        lorry_id,
        user_id,
        distance,
        unit_distance,
        carry_weight,
        order_weight,
        succ_weight,
        overweight,
        unit_weight,
        accept_time,
        start_time,
        must_finish_time,
        send_out_time,
        estimate_finish_time,
        finish_time,
        send_out_code,
        send_out_user_id,
        receive_code,
        receiver_user_id,
        status,
        unexpect,
        cancel_time,
        cancel_reason,
        ext_info,
        create_time,
        operate_time,
        receive_time,
        delivery_receive_time,
        let_out_time
    </sql>

    <sql id="listResp_column">
        o.order_id,
        o.task_id,
        o.status,
        o.order_weight,
        o.receive_code,
        o.receive_time,
        o.delivery_receive_time,
        o.carry_weight as order_carry_weight,
        o.send_out_time,
        o.succ_weight,
        o.let_out_time,
        t.title,
        t.dep,
        t.arr,
        t.start_time,
        t.end_time,
        t.unit_weight_price,
        t.unit_price,
        t.unit_weight,
        t.distance,
        l.id as lorry_id,
        l.plate_number,
        l.carry_weight,
        l.over_carry_weight,
        u.name as driver_name,
        u.mobile as driver_mobile
    </sql>


    <update id="update" parameterType="com.demai.cornel.model.OrderInfo">
        update order_info
        <trim prefix="set" suffixOverrides=",">
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="lorryId != null">lorry_id = #{lorryId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="distance != null">distance = #{distance},</if>
            <if test="unitDistance != null">unit_distance = #{unitDistance},</if>
            <if test="carryWeight != null">carry_weight = #{carryWeight},</if>
            <if test="orderWeight != null">order_weight = #{orderWeight},</if>
            <if test="succWeight != null">succ_weight = #{succWeight},</if>
            <if test="overweight != null">overweight = #{overweight},</if>
            <if test="unitWeight != null">unit_weight = #{unitWeight},</if>
            <if test="acceptTime != null">accept_time = #{acceptTime},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="mustFinishTime != null">must_finish_time = #{mustFinishTime},</if>
            <if test="sendOutTime != null">send_out_time = #{sendOutTime},</if>
            <if test="estimateFinishTime != null">estimate_finish_time = #{estimateFinishTime},</if>
            <if test="finishTime != null">finish_time = #{finishTime},</if>
            <if test="sendOutCode != null">send_out_code = #{sendOutCode},</if>
            <if test="sendOutUserId != null">send_out_user_id =
                #{sendOutUserId,jdbcType=ARRAY,javaType=java.util.Set, typeHandler=com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler},
            </if>
            <if test="receiveCode != null">receive_code = #{receiveCode},</if>
            <if test="receiverUserId != null">receiver_user_id =
                #{receiverUserId,jdbcType=ARRAY, javaType=java.util.Set, typeHandler=com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler},
            </if>
            <if test="status != null">status = #{status},</if>
            <if test="unexpect != null">unexpect = #{unexpect},</if>
            <if test="cancelTime != null">cancel_time = #{cancelTime},</if>
            <if test="cancelReason != null">cancel_reason = #{cancelReason},</if>
            <if test="extInfo != null">ext_info = #{extInfo},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="operateTime != null">operate_time = #{operateTime},</if>
            <if test="receiveTime != null">receive_time = #{receiveTime},</if>
            <if test="deliveryReceiveTime != null">delivery_receive_time = #{deliveryReceiveTime},</if>
            <if test="letOutTime != null">let_out_time = #{letOutTime},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateShipmentStatusByOldStatus" parameterType="com.demai.cornel.model.OrderInfo">
        update order_info
        set status=#{status}
        <if test="carryWeight != null">,carry_weight=#{carryWeight}</if>
        <if test="receiveTime != null">,receive_time=#{receiveTime}</if>
        <if test="sendOutTime != null">,send_out_time=#{sendOutTime}</if>
        <if test="deliveryReceiveTime != null">,delivery_receive_time=#{deliveryReceiveTime}</if>
        <if test="succWeight != null">,succ_weight=#{succWeight}</if>
        <if test="letOutTime != null">,let_out_time=#{letOutTime}</if>
        <if test="finishTime != null">,finish_time=#{finishTime}</if>
        where order_id = #{orderId} and
        status=#{oldStatus}
        <if test="sendOutUserId!=null">
            and
            <![CDATA[ send_out_user_id @> #{sendOutUserId,jdbcType=ARRAY,javaType=java.util.Set, typeHandler=com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler} ]]>
        </if>
        <if test="receiverUserId!=null">
            and
            <![CDATA[ receiver_user_id @> #{receiverUserId,jdbcType=ARRAY,javaType=java.util.Set, typeHandler=com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler} ]]>
        </if>
        <if test="userId!=null">
            and user_id=#{userId}
        </if>
    </update>

    <insert id="save" parameterType="com.demai.cornel.model.OrderInfo" useGeneratedKeys="true" keyProperty="id">
        insert into order_info(
        <trim suffixOverrides=",">
            <if test="orderId != null">order_id ,</if>
            <if test="taskId != null">task_id ,</if>
            <if test="lorryId != null">lorry_id ,</if>
            <if test="userId != null">user_id ,</if>
            <if test="distance != null">distance ,</if>
            <if test="unitDistance != null">unit_distance ,</if>
            <if test="carryWeight != null">carry_weight ,</if>
            <if test="orderWeight != null">order_weight ,</if>
            <if test="succWeight != null">succ_weight ,</if>
            <if test="overweight != null">overweight ,</if>
            <if test="unitWeight != null">unit_weight ,</if>
            <if test="acceptTime != null">accept_time ,</if>
            <if test="startTime != null">start_time ,</if>
            <if test="mustFinishTime != null">must_finish_time ,</if>
            <if test="sendOutTime != null">send_out_time ,</if>
            <if test="estimateFinishTime != null">estimate_finish_time ,</if>
            <if test="finishTime != null">finish_time ,</if>
            <if test="sendOutCode != null">send_out_code ,</if>
            <if test="sendOutUserId != null">send_out_user_id ,</if>
            <if test="receiveCode != null">receive_code ,</if>
            <if test="receiverUserId != null">receiver_user_id ,</if>
            <if test="status != null">status ,</if>
            <if test="unexpect != null">unexpect ,</if>
            <if test="cancelTime != null">cancel_time ,</if>
            <if test="cancelReason != null">cancel_reason ,</if>
            <if test="extInfo != null">ext_info ,</if>
            <if test="createTime != null">create_time ,</if>
            <if test="operateTime != null">operate_time ,</if>
            <if test="receiveTime != null">receive_time ,</if>
            <if test="deliveryReceiveTime != null">delivery_receive_time ,</if>
            <if test="letOutTime != null">let_out_time ,</if>

        </trim>
        )values(
        <trim suffixOverrides=",">
            <if test="orderId != null">#{orderId} ,</if>
            <if test="taskId != null">#{taskId} ,</if>
            <if test="lorryId != null">#{lorryId} ,</if>
            <if test="userId != null">#{userId} ,</if>
            <if test="distance != null">#{distance} ,</if>
            <if test="unitDistance != null">#{unitDistance} ,</if>
            <if test="carryWeight != null">#{carryWeight} ,</if>
            <if test="orderWeight != null">#{orderWeight} ,</if>
            <if test="succWeight != null">#{succWeight} ,</if>
            <if test="overweight != null">#{overweight} ,</if>
            <if test="unitWeight != null">#{unitWeight} ,</if>
            <if test="acceptTime != null">#{acceptTime} ,</if>
            <if test="startTime != null">#{startTime} ,</if>
            <if test="mustFinishTime != null">#{mustFinishTime} ,</if>
            <if test="sendOutTime != null">#{sendOutTime} ,</if>
            <if test="estimateFinishTime != null">#{estimateFinishTime} ,</if>
            <if test="finishTime != null">#{finishTime} ,</if>
            <if test="sendOutCode != null">#{sendOutCode} ,</if>
            <if test="sendOutUserId != null">
                #{sendOutUserId, jdbcType=ARRAY, javaType=java.util.Set, typeHandler=com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler},
            </if>
            <if test="receiveCode != null">#{receiveCode} ,</if>
            <if test="receiverUserId != null">
                #{receiverUserId, jdbcType=ARRAY, javaType=java.util.Set, typeHandler=com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler},
            </if>
            <if test="status != null">#{status} ,</if>
            <if test="unexpect != null">#{unexpect} ,</if>
            <if test="cancelTime != null">#{cancelTime} ,</if>
            <if test="cancelReason != null">#{cancelReason} ,</if>
            <if test="extInfo != null">#{extInfo} ,</if>
            <if test="createTime != null">#{createTime} ,</if>
            <if test="operateTime != null">#{operateTime} ,</if>
            <if test="receiveTime != null">#{receiveTime} ,</if>
            <if test="deliveryReceiveTime != null">#{deliveryReceiveTime} ,</if>
            <if test="letOutTime != null">#{letOutTime} ,</if>

        </trim>
        )
    </insert>
    <select id="getOrderInfoByOrderTypeAndUserId" resultType="com.demai.cornel.vo.task.GetOrderListResp">
        SELECT
        o.order_id as orderId,
        o.task_id as taskId,
        o.status as orderStatus,
        o.receive_time as startTime,
        o.status as orderStatus,
        o.order_weight as orderWeight,
        o.receive_code as verifyCode,
        o.carry_weight as orderCarryWeight,
        o.let_out_time as letOutTime,
        o.succ_weight as succWeight,
        t.title as title,
        t.dep as dep,
        t.arr as arr,
        t.start_time as startValidDate,
        t.end_time as endValidDate,
        t.distance as distance,
        t.unit_distance as unitDistance,
        t.unit_weight_price as unitWeightPrice,
        t.supplier_id as supplierId,
        l.id as lorryId,
        l.plate_number as plateNumber,
        l.carry_weight as carryWeight,
        l.over_carry_weight as overCarryWight
        from order_info o left join task_info t on o.task_id=t.task_id left join lorry_info l on l.id=o.lorry_id where
        o.user_id=#{userId} and o.status=(o.status <![CDATA[ & ]]> #{orderType} )
        and t.status in(1<![CDATA[<<]]>4,4<![CDATA[<<]]>5)
        <if test="orderId == null and orderId=='' and orderId=='null'">
            and o.id  <![CDATA[<=]]> (select max(id) from order_info where user_id=#{userId} and status=(status
            <![CDATA[ & ]]> #{orderType} ))
        </if>
        <if test="orderId!=null and orderId !='' and orderId!='null'">
            and o.id  <![CDATA[<]]> (select id from order_info where order_id=#{orderId})
        </if>
        order by o.id desc limit #{pgSize};
    </select>

    <select id="getOrderInfoByUserAndOrderId" resultType="com.demai.cornel.vo.order.GetOrderInfoResp">
        SELECT
        o.order_id as orderId,
        o.task_id as taskId,
        o.status as orderStatus,
        o.order_weight as orderWeight,
        o.carry_weight as orderCarryWeight,
        o.receive_code as verifyCode,
        o.receive_time as startTime,
        o.succ_weight as succWeight,
        o.send_out_time as sendOutTime,
        o.delivery_receive_time as deliveryReceiveTime,
        O.let_out_time as letOutTime,
        t.title as title,
        t.dep as dep,
        t.arr as arr,
        t.start_time as startValidDate,
        t.end_time as endValidDate,
        t.distance as distance,
        t.unit_weight_price as unitWeightPrice,
        t.supplier_id as supplierId,
        l.id as lorryId,
        l.plate_number as plateNumber,
        l.carry_weight as carryWeight,
        l.over_carry_weight as overCarryWight,
        u.name as driverName
        from order_info o left join task_info t on o.task_id=t.task_id left join lorry_info l on l.id=o.lorry_id  left join user_info u on o.user_id=u.user_id where
        o.user_id=#{userId}
        and t.status in(1<![CDATA[<<]]>4,4<![CDATA[<<]]>5)
        and o.order_id=#{orderId};
    </select>

    <select id="getOrderInfoByTaskByDelivery" resultMap="listRespMapper">
        SELECT
        <include refid="listResp_column"/>
        from order_info o left join task_info t on o.task_id=t.task_id left join lorry_info l on l.id=o.lorry_id
        left join user_info u on o.user_id=u.user_id
        where
        <![CDATA[ o.receiver_user_id @>array[#{deliverId}] ]]>
        and o.status= (o.status <![CDATA[ & ]]> #{orderType} )
        and t.status in(1<![CDATA[<<]]>4,4<![CDATA[<<]]>5)
        <if test="orderId != null and orderId!='' and orderId!='null'">
            and o.id  <![CDATA[<=]]> (select max(id) from order_info where delivery_id=#{supplierId} and
            status=(status <![CDATA[ & ]]> #{orderType} ))
        </if>
        <if test="orderId!=null and orderId!='' and orderId!='null'">
            and o.id  <![CDATA[<]]> (select id from order_info where order_id=#{orderId})
        </if>
        order by o.id desc limit #{pgSize};
    </select>

    <update id="updateOrderStatus">
        update order_info set status=#{status} where order_id=#{orderId} and user_id=#{userId} and status=#{oldStatus};
    </update>

    <select id="getOrderStatusAndVerCodeByOrderId" resultType="com.demai.cornel.vo.task.ArriveDepDriverResp">
        select
        order_info.status as status,
        order_info.receive_code as verCode
        from order_info where order_id=#{orderId};
    </select>

    <select id="getOrderInfoBySupplier" resultMap="listRespMapper">
        SELECT
        <include refid="listResp_column"/>
        from order_info o left join task_info t on o.task_id=t.task_id left join lorry_info l on l.id=o.lorry_id
        left join user_info u on o.user_id=u.user_id
        where
        <![CDATA[ o.send_out_user_id @> array[#{supplierId}] ]]> and o.status= (o.status <![CDATA[ & ]]> #{orderType} )
        and t.status in(1<![CDATA[<<]]>4,4<![CDATA[<<]]>5)
        <if test="orderId != null and orderId!='' and orderId!='null'">
            and o.id  <![CDATA[<=]]> (select max(id) from order_info where
            <![CDATA[ send_out_user_id @> array[#{supplierId}] ]]> and
            status=(status <![CDATA[ & ]]> #{orderType} ))
        </if>
        <if test="orderId!=null and orderId!='' and orderId!='null'">
            and o.id  <![CDATA[<]]> (select id from order_info where order_id=#{orderId})
        </if>
        order by o.id desc limit #{pgSize};
    </select>

    <select id="getOrderInfoByOrderIdOrVerifyCode" resultMap="listRespMapper">
        SELECT
        <include refid="listResp_column"/>
        from order_info o left join task_info t on o.task_id=t.task_id left join lorry_info l on l.id=o.lorry_id
        left join user_info u on o.user_id=u.user_id
        where
        1=1
        <if test="orderId != null and orderId!='' and orderId!='null'">
            and o.order_id=#{orderId}
        </if>

        <if test="verifyCode!=null and verifyCode!='' and verifyCode!='null'">
            <if test="role=='supplier'">
                and o.send_out_code=#{verifyCode}
                and <![CDATA[ o.send_out_user_id @> array[#{supplierId}] ]]>
            </if>

            <if test="role=='delivery'">
                and o.receive_code=#{verifyCode}
                and <![CDATA[ o.receiver_user_id @> array[#{supplierId}] ]]>
            </if>
        </if>

    </select>
    <delete id="deleteOrder">
        delete from order_info where order_id=#{orderId};
    </delete>
    <select id="getOrderInfoByOrderId" resultMap="orderInfoResultMap">
        select
        <include refid="main_column"/>
        FROM order_info WHERE order_id=#{orderId};
    </select>
    <select id="getDriverUserId" resultType="java.lang.String">
        select user_id from order_info where order_id=#{orderId};
    </select>
    <update id="updateStatusAndSendOutTime">
        update order_info set status=#{status},send_out_time=#{sendOutTime} where order_id=#{orderId} and status=#{oldStatus};
    </update>

    <select id="getRuningOrderIdInnerTask" resultType="java.lang.String">
        select order_id from order_info where task_id=#{taskId} and user_id=#{userId} and status not in in (2,4160);
    </select>
    <select id="getSendOutCode" resultType="java.lang.String">
        select send_out_code from order_info where order_id=#{orderID}
    </select>
    <select id="getReceiveCode" resultType="java.lang.String">
        select receive_code from order_info where order_id=#{orderID}
    </select>

</mapper>