<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demai.cornel.dao.OrderOperationLogDao">

    <resultMap type="com.demai.cornel.model.OrderOperationLog" id="orderOperationLogResultMap">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="mark" property="mark"/>
        <result column="operator" property="operator"/>
        <result column="ext_info" property="extInfo"/>
        <result column="create_time" property="createTime"/>
        <result column="operate_time" property="operateTime"/>
    </resultMap>

    <sql id="main_column">
        id,
        order_id,
        mark,
        operator,
        ext_info,
        create_time,
        operate_time
    </sql>

    <update id="update" parameterType="com.demai.cornel.model.OrderOperationLog">
        update order_operation_log
        <trim prefix="set" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="mark != null">mark = #{mark},</if>
            <if test="operator != null">operator = #{operator},</if>
            <if test="extInfo != null">ext_info = #{extInfo},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="operateTime != null">operate_time = #{operateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <insert id="save" parameterType="com.demai.cornel.model.OrderOperationLog" useGeneratedKeys="true" keyProperty="id">
        insert into order_operation_log(
        <trim suffixOverrides=",">
            <if test="orderId != null">order_id ,</if>
            <if test="mark != null">mark ,</if>
            <if test="operator != null">operator ,</if>
            <if test="extInfo != null">ext_info ,</if>
            <if test="createTime != null">create_time ,</if>
            <if test="operateTime != null">operate_time ,</if>
        </trim>
        )values(
        <trim suffixOverrides=",">
            <if test="orderId != null">#{orderId} ,</if>
            <if test="mark != null">#{mark} ,</if>
            <if test="operator != null">#{operator} ,</if>
            <if test="extInfo != null">#{extInfo} ,</if>
            <if test="createTime != null">#{createTime} ,</if>
            <if test="operateTime != null">#{operateTime} ,</if>
        </trim>
        )
    </insert>
</mapper>