<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demai.cornel.dao.RoleInfoDao">
    <resultMap type="com.demai.cornel.model.RoleInfo" id="roleInfoResultMap">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="role_id" property="roleId" />
        <result column="status" property="status" />
        <result column="ext_info" property="extInfo" />
        <result column="acl_code" property="aclCode" />
        <result column="create_time" property="createTime" />
        <result column="operate_time" property="operateTime" />
    </resultMap>

    <sql id="main_column">
	id,
	name,
	role_id,
	status,
	ext_info,
	acl_code,
	create_time,
	operate_time
</sql>

    <update id="update" parameterType="com.demai.cornel.model.RoleInfo">
        update role_info
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null"> name = #{name},</if>
            <if test="roleId != null"> role_id = #{roleId},</if>
            <if test="status != null"> status = #{status},</if>
            <if test="extInfo != null"> ext_info = #{extInfo},</if>
            <if test="aclCode != null"> acl_code = #{aclCode},</if>
            <if test="createTime != null"> create_time = #{createTime},</if>
            <if test="operateTime != null"> operate_time = #{operateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <insert id="save" parameterType="com.demai.cornel.model.RoleInfo" useGeneratedKeys="true" keyProperty="id" >
        insert into role_info(
        <trim suffixOverrides=",">
            <if test="name != null"> name ,</if>
            <if test="roleId != null"> role_id ,</if>
            <if test="status != null"> status ,</if>
            <if test="extInfo != null"> ext_info ,</if>
            <if test="aclCode != null"> acl_code ,</if>
            <if test="createTime != null"> create_time ,</if>
            <if test="operateTime != null"> operate_time ,</if>
        </trim>
        )values(
        <trim suffixOverrides=",">
            <if test="name != null"> #{name} ,</if>
            <if test="roleId != null"> #{roleId} ,</if>
            <if test="status != null"> #{status} ,</if>
            <if test="extInfo != null"> #{extInfo} ,</if>
            <if test="aclCode != null"> #{aclCode} ,</if>
            <if test="createTime != null"> #{createTime} ,</if>
            <if test="operateTime != null"> #{operateTime} ,</if>
        </trim>
        )
    </insert>

</mapper>