<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demai.cornel.purcharse.dao.SaleOrderMapper">
  <resultMap id="BaseResultMap" type="com.demai.cornel.purcharse.model.SaleOrder">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="cargo_id" jdbcType="VARCHAR" property="cargoId" />
    <result column="buyer_id" jdbcType="VARCHAR" property="buyerId" />
    <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
    <result column="estimate_receive_time" jdbcType="TIMESTAMP" property="estimateReceiveTime" />
    <result column="payment_type" jdbcType="VARCHAR" property="paymentType" />
    <result column="payment_status" jdbcType="INTEGER" property="paymentStatus" />
    <result column="freight_price" jdbcType="NUMERIC" property="freightPrice" />
    <result column="commodity_price" jdbcType="NUMERIC" property="commodityPrice" />
    <result column="order_price" jdbcType="NUMERIC" property="orderPrice" />
    <result column="unit_price" jdbcType="VARCHAR" property="unitPrice" />
    <result column="weight" jdbcType="NUMERIC" property="weight" />
    <result column="uint_weight" jdbcType="VARCHAR" property="uintWeight" />
    <result column="waybill_id" jdbcType="VARCHAR" property="waybillId" />
    <result column="purchase_id" jdbcType="VARCHAR" property="purchaseId" />
    <result column="contact_user_name" jdbcType="VARCHAR" property="contactUserName" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="receive_location" jdbcType="VARCHAR" property="receiveLocation" />
    <result column="from_location" jdbcType="VARCHAR" property="fromLocation" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="offer_id" jdbcType="VARCHAR" property="offerId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, "status", cargo_id, buyer_id, order_time, estimate_receive_time, payment_type, 
    payment_status, freight_price, commodity_price, order_price, unit_price, weight, 
    uint_weight, waybill_id, purchase_id, contact_user_name, mobile, receive_location, 
    from_location, order_id, offer_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sale_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from sale_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demai.cornel.purcharse.model.SaleOrder">
    <!--@mbg.generated-->
    insert into sale_order (id, "status", cargo_id, 
      buyer_id, order_time, estimate_receive_time, 
      payment_type, payment_status, freight_price, 
      commodity_price, order_price, unit_price, 
      weight, uint_weight, waybill_id, 
      purchase_id, contact_user_name, mobile, 
      receive_location, from_location, order_id, 
      offer_id)
    values (#{id,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{cargoId,jdbcType=VARCHAR}, 
      #{buyerId,jdbcType=VARCHAR}, #{orderTime,jdbcType=TIMESTAMP}, #{estimateReceiveTime,jdbcType=TIMESTAMP}, 
      #{paymentType,jdbcType=VARCHAR}, #{paymentStatus,jdbcType=INTEGER}, #{freightPrice,jdbcType=NUMERIC}, 
      #{commodityPrice,jdbcType=NUMERIC}, #{orderPrice,jdbcType=NUMERIC}, #{unitPrice,jdbcType=VARCHAR}, 
      #{weight,jdbcType=NUMERIC}, #{uintWeight,jdbcType=VARCHAR}, #{waybillId,jdbcType=VARCHAR}, 
      #{purchaseId,jdbcType=VARCHAR}, #{contactUserName,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{receiveLocation,jdbcType=VARCHAR}, #{fromLocation,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{offerId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.demai.cornel.purcharse.model.SaleOrder">
    <!--@mbg.generated-->
    insert into sale_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="status != null">
        "status",
      </if>
      <if test="cargoId != null">
        cargo_id,
      </if>
      <if test="buyerId != null">
        buyer_id,
      </if>
      <if test="orderTime != null">
        order_time,
      </if>
      <if test="estimateReceiveTime != null">
        estimate_receive_time,
      </if>
      <if test="paymentType != null">
        payment_type,
      </if>
      <if test="paymentStatus != null">
        payment_status,
      </if>
      <if test="freightPrice != null">
        freight_price,
      </if>
      <if test="commodityPrice != null">
        commodity_price,
      </if>
      <if test="orderPrice != null">
        order_price,
      </if>
      <if test="unitPrice != null">
        unit_price,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="uintWeight != null">
        uint_weight,
      </if>
      <if test="waybillId != null">
        waybill_id,
      </if>
      <if test="purchaseId != null">
        purchase_id,
      </if>
      <if test="contactUserName != null">
        contact_user_name,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="receiveLocation != null">
        receive_location,
      </if>
      <if test="fromLocation != null">
        from_location,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="offerId != null">
        offer_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="cargoId != null">
        #{cargoId,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null">
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="estimateReceiveTime != null">
        #{estimateReceiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentType != null">
        #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="paymentStatus != null">
        #{paymentStatus,jdbcType=INTEGER},
      </if>
      <if test="freightPrice != null">
        #{freightPrice,jdbcType=NUMERIC},
      </if>
      <if test="commodityPrice != null">
        #{commodityPrice,jdbcType=NUMERIC},
      </if>
      <if test="orderPrice != null">
        #{orderPrice,jdbcType=NUMERIC},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=NUMERIC},
      </if>
      <if test="uintWeight != null">
        #{uintWeight,jdbcType=VARCHAR},
      </if>
      <if test="waybillId != null">
        #{waybillId,jdbcType=VARCHAR},
      </if>
      <if test="purchaseId != null">
        #{purchaseId,jdbcType=VARCHAR},
      </if>
      <if test="contactUserName != null">
        #{contactUserName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="receiveLocation != null">
        #{receiveLocation,jdbcType=VARCHAR},
      </if>
      <if test="fromLocation != null">
        #{fromLocation,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="offerId != null">
        #{offerId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demai.cornel.purcharse.model.SaleOrder">
    <!--@mbg.generated-->
    update sale_order
    <set>
      <if test="status != null">
        "status" = #{status,jdbcType=INTEGER},
      </if>
      <if test="cargoId != null">
        cargo_id = #{cargoId,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        buyer_id = #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="orderTime != null">
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="estimateReceiveTime != null">
        estimate_receive_time = #{estimateReceiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentType != null">
        payment_type = #{paymentType,jdbcType=VARCHAR},
      </if>
      <if test="paymentStatus != null">
        payment_status = #{paymentStatus,jdbcType=INTEGER},
      </if>
      <if test="freightPrice != null">
        freight_price = #{freightPrice,jdbcType=NUMERIC},
      </if>
      <if test="commodityPrice != null">
        commodity_price = #{commodityPrice,jdbcType=NUMERIC},
      </if>
      <if test="orderPrice != null">
        order_price = #{orderPrice,jdbcType=NUMERIC},
      </if>
      <if test="unitPrice != null">
        unit_price = #{unitPrice,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=NUMERIC},
      </if>
      <if test="uintWeight != null">
        uint_weight = #{uintWeight,jdbcType=VARCHAR},
      </if>
      <if test="waybillId != null">
        waybill_id = #{waybillId,jdbcType=VARCHAR},
      </if>
      <if test="purchaseId != null">
        purchase_id = #{purchaseId,jdbcType=VARCHAR},
      </if>
      <if test="contactUserName != null">
        contact_user_name = #{contactUserName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="receiveLocation != null">
        receive_location = #{receiveLocation,jdbcType=VARCHAR},
      </if>
      <if test="fromLocation != null">
        from_location = #{fromLocation,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="offerId != null">
        offer_id = #{offerId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demai.cornel.purcharse.model.SaleOrder">
    <!--@mbg.generated-->
    update sale_order
    set "status" = #{status,jdbcType=INTEGER},
      cargo_id = #{cargoId,jdbcType=VARCHAR},
      buyer_id = #{buyerId,jdbcType=VARCHAR},
      order_time = #{orderTime,jdbcType=TIMESTAMP},
      estimate_receive_time = #{estimateReceiveTime,jdbcType=TIMESTAMP},
      payment_type = #{paymentType,jdbcType=VARCHAR},
      payment_status = #{paymentStatus,jdbcType=INTEGER},
      freight_price = #{freightPrice,jdbcType=NUMERIC},
      commodity_price = #{commodityPrice,jdbcType=NUMERIC},
      order_price = #{orderPrice,jdbcType=NUMERIC},
      unit_price = #{unitPrice,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=NUMERIC},
      uint_weight = #{uintWeight,jdbcType=VARCHAR},
      waybill_id = #{waybillId,jdbcType=VARCHAR},
      purchase_id = #{purchaseId,jdbcType=VARCHAR},
      contact_user_name = #{contactUserName,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      receive_location = #{receiveLocation,jdbcType=VARCHAR},
      from_location = #{fromLocation,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      offer_id = #{offerId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>