<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demai.cornel.dao.UserAclInfoDao">
    <resultMap type="com.demai.cornel.model.UserAclInfo" id="userAclInfoResultMap">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="acl_id" property="aclId"/>
        <result column="status" property="status"/>
        <result column="ext_info" property="extInfo"/>
        <result column="create_time" property="createTime"/>
        <result column="operate_time" property="operateTime"/>
    </resultMap>

    <sql id="main_column">
        id,
        user_id,
        acl_id,
        status,
        ext_info,
        create_time,
        operate_time
    </sql>

    <update id="update" parameterType="com.demai.cornel.model.UserAclInfo">
        update user_acl_info
        <trim prefix="set" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="aclId != null">acl_id = #{aclId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="extInfo != null">ext_info = #{extInfo},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="operateTime != null">operate_time = #{operateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <insert id="save" parameterType="com.demai.cornel.model.UserAclInfo" useGeneratedKeys="true" keyProperty="id">
        insert into user_acl_info(
        <trim suffixOverrides=",">
            <if test="userId != null">user_id ,</if>
            <if test="aclId != null">acl_id ,</if>
            <if test="status != null">status ,</if>
            <if test="extInfo != null">ext_info ,</if>
            <if test="createTime != null">create_time ,</if>
            <if test="operateTime != null">operate_time ,</if>
        </trim>
        )values(
        <trim suffixOverrides=",">
            <if test="userId != null">#{userId} ,</if>
            <if test="aclId != null">#{aclId} ,</if>
            <if test="status != null">#{status} ,</if>
            <if test="extInfo != null">#{extInfo} ,</if>
            <if test="createTime != null">#{createTime} ,</if>
            <if test="operateTime != null">#{operateTime} ,</if>
        </trim>
        )
    </insert>

</mapper>