<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demai.cornel.dao.UserInfoDao">

    <resultMap type="com.demai.cornel.model.UserInfo" id="userInfoResultMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="user_id" property="userId"/>
        <result column="open_id" property="openId" jdbcType="ARRAY"
                typeHandler="com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler"/>
        <result column="gender" property="gender"/>
        <result column="role" property="role"/>
        <result column="birthday" property="birthday"/>
        <result column="head_img" property="headImg"/>
        <result column="nick_name" property="nickName"/>
        <result column="id_type" property="idType"/>
        <result column="id_card" property="idCard"/>
        <result column="term_validity" property="termValidity"/>
        <result column="mobile" property="mobile" jdbcType="ARRAY"
                typeHandler="com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler"/>
        <result column="lorry" property="lorry"/>
        <result column="order_nums" property="orderNums"/>
        <result column="score" property="score"/>
        <result column="distance" property="distance"/>
        <result column="punish" property="punish"/>
        <result column="urgent_name_f" property="urgentNameF"/>
        <result column="urgent_mobile_f" property="urgentMobileF"/>
        <result column="urgent_name_s" property="urgentNameS"/>
        <result column="urgent_mobile_s" property="urgentMobileS"/>
        <result column="status" property="status"/>
        <result column="ext_info" property="extInfo"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="create_time" property="createTime"/>
        <result column="operate_time" property="operateTime"/>
    </resultMap>

    <sql id="main_column">
        id,
        name,
        user_id,
        open_id,
        gender,
        role,
        birthday,
        head_img,
        nick_name,
        id_type,
        id_card,
        term_validity,
        mobile,
        lorry,
        order_nums,
        score,
        distance,
        punish,
        urgent_name_f,
        urgent_mobile_f,
        urgent_name_s,
        urgent_mobile_s,
        status,
        ext_info,
        last_login_time,
        create_time,
        operate_time
    </sql>

    <update id="update" parameterType="com.demai.cornel.model.UserInfo">
        update user_info
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="openId != null">open_id =  #{openId,jdbcType=ARRAY,typeHandler = com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler},</if>
            <if test="role != null">role = #{role},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="headImg != null">head_img = #{headImg},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="idType != null">id_type = #{idType},</if>
            <if test="idCard != null">id_card = #{idCard},</if>
            <if test="termValidity != null">term_validity = #{termValidity},</if>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="lorry != null">lorry = #{lorry},</if>
            <if test="orderNums != null">order_nums = #{orderNums},</if>
            <if test="score != null">score = #{score},</if>
            <if test="distance != null">distance = #{distance},</if>
            <if test="punish != null">punish = #{punish},</if>
            <if test="urgentNameF != null">urgent_name_f = #{urgentNameF},</if>
            <if test="urgentMobileF != null">urgent_mobile_f = #{urgentMobileF},</if>
            <if test="urgentNameS != null">urgent_name_s = #{urgentNameS},</if>
            <if test="urgentMobileS != null">urgent_mobile_s = #{urgentMobileS},</if>
            <if test="status != null">status = #{status},</if>
            <if test="extInfo != null">ext_info = #{extInfo},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="operateTime != null">operate_time = #{operateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <insert id="save" parameterType="com.demai.cornel.model.UserInfo" useGeneratedKeys="true" keyProperty="id">
        insert into user_info(
        <trim suffixOverrides=",">
            <if test="name != null">name ,</if>
            <if test="userId != null">user_id ,</if>
            <if test="openId != null">open_id ,</if>
            <if test="gender != null">gender ,</if>
            <if test="role != null">role ,</if>
            <if test="birthday != null">birthday ,</if>
            <if test="headImg != null">head_img ,</if>
            <if test="nickName != null">nick_name ,</if>
            <if test="idType != null">id_type ,</if>
            <if test="idCard != null">id_card ,</if>
            <if test="termValidity != null">term_validity ,</if>
            <if test="mobile != null">mobile ,</if>
            <if test="lorry != null">lorry ,</if>
            <if test="orderNums != null">order_nums ,</if>
            <if test="score != null">score ,</if>
            <if test="distance != null">distance ,</if>
            <if test="punish != null">punish ,</if>
            <if test="urgentNameF != null">urgent_name_f ,</if>
            <if test="urgentMobileF != null">urgent_mobile_f ,</if>
            <if test="urgentNameS != null">urgent_name_s ,</if>
            <if test="urgentMobileS != null">urgent_mobile_s ,</if>
            <if test="status != null">status ,</if>
            <if test="extInfo != null">ext_info ,</if>
            <if test="lastLoginTime != null">last_login_time ,</if>
            <if test="createTime != null">create_time ,</if>
            <if test="operateTime != null">operate_time ,</if>
        </trim>
        )values(
        <trim suffixOverrides=",">
            <if test="name != null">#{name} ,</if>
            <if test="userId != null">#{userId} ,</if>
            <if test="openId != null">
                #{openId,jdbcType=ARRAY,typeHandler = com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler} ,
            </if>
            <if test="gender != null">#{gender} ,</if>
            <if test="role != null">#{role} ,</if>
            <if test="birthday != null">#{birthday} ,</if>
            <if test="headImg != null">#{headImg} ,</if>
            <if test="nickName != null">#{nickName} ,</if>
            <if test="idType != null">#{idType} ,</if>
            <if test="idCard != null">#{idCard} ,</if>
            <if test="termValidity != null">#{termValidity} ,</if>
            <if test="mobile != null">
                #{mobile,jdbcType=ARRAY,typeHandler = com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler},
            </if>
            <if test="lorry != null">#{lorry} ,</if>
            <if test="orderNums != null">#{orderNums} ,</if>
            <if test="score != null">#{score} ,</if>
            <if test="distance != null">#{distance} ,</if>
            <if test="punish != null">#{punish} ,</if>
            <if test="urgentNameF != null">#{urgentNameF} ,</if>
            <if test="urgentMobileF != null">#{urgentMobileF} ,</if>
            <if test="urgentNameS != null">#{urgentNameS} ,</if>
            <if test="urgentMobileS != null">#{urgentMobileS} ,</if>
            <if test="status != null">#{status} ,</if>
            <if test="extInfo != null">#{extInfo} ,</if>
            <if test="lastLoginTime != null">#{lastLoginTime} ,</if>
            <if test="createTime != null">#{createTime} ,</if>
            <if test="operateTime != null">#{operateTime} ,</if>
        </trim>
        )
    </insert>

    <select id="getUserInfoByPhone" parameterType="String" resultMap="userInfoResultMap">
        SELECT
        <include refid="main_column"/>
        from user_info
        where status=1 and <![CDATA[ mobile @> array[#{phone}] ]]>
        limit 1
    </select>
    <select id="getUsersInfoByPhones" resultMap="userInfoResultMap">
        SELECT
        <include refid="main_column"/>
        from user_info
        where status=1 and <![CDATA[ mobile && #{phones,jdbcType=ARRAY,typeHandler = com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler} ]]>;
    </select>
   <select id="getUserDefaultLorryByTels" resultType="com.demai.cornel.model.UserDistOrderModel">
       SELECT u.user_id as userId,u.name as userName,u.id_type as idType,u.id_card as idCard,l.carry_weight as carryWeight ,l.plate_number as plateNumber
       FROM user_info as  u inner join lorry_info as l on u.id_card=l.id_card and u.id_type=l.id_type where l.status=1 and l.default_flag=1
       and u.status=1 and <![CDATA[ u.mobile && #{phones,jdbcType=ARRAY,typeHandler = com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler} ]]>
   </select>

    <select id="getUsersLorryInfoByPlateNumber" resultType="com.demai.cornel.model.UserDistOrderModel">
       SELECT u.user_id as userId,u.name as userName,u.id_type as idType,u.id_card as idCard,l.carry_weight as carryWeight ,l.plate_number as plateNumber,u.mobile[1] as tel
       FROM lorry_info as l  inner join user_info as u on l.id_card=u.id_card and l.id_type=u.id_type  where l.plate_number in
            <if test="platNumbers!=null and platNumbers.size()>0">
                <foreach collection="platNumbers" item="platNumber" index="index" open="(" separator="," close=")">
                    #{platNumber}
                </foreach>
            </if>
        and l.status=1 and u.status=1;
    </select>

    <update id="updateUserOpenIdByUid">
        update user_info set open_id= #{openIds,jdbcType=ARRAY,typeHandler = com.demai.cornel.databaseHandler.ArrayStringSetTypeHandler}
        where id=#{userId}
    </update>

</mapper>